@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

#movie-result {
  background: rgb(244, 98, 181);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

#book-result {
  background: rgb(196, 159, 255);
  border: 5px solid black;
  font-size: 24px;
  height: 160px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  height: 5px;
  background-color: black;
}

h1 {
  color: blue;
  border: 1px solid;
}

body {
  background-color: orange;
  color: green;
  font-family: "Bebas Neue", sans-serif;
}

button {
  background-color: lightblue;
  border-radius: 8px;
  padding: 10px;
}

img {
  border: 3px solid purple;
}
